@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    font-family: 'Abel', sans-serif;
}

.header {
    display: 'flex';
    alignItems: 'center';
    justifyContent: 'center';
}

.thank {

}

.thank:hover {
    color: blueviolet;
    font-size: 15pt;
}